/*
 * Limpámos os estilos padrão do Vite.
 * Definimos uma fonte padrão e removemos a margem do body.
 * O fundo principal será controlado pelo 'App.css'.
*/
body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}